* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 75px;
  background-color: lightyellow;
  font-family: Trebuchet MS;
  font-size: 20px;
}

h1 {
  font-size: 35px;
  font-size: 40px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

p {
  margin-bottom: 20px;
  text-align: center;
}

input,
button {
  padding: 10px;
  font-size: 16px;
}

a {
  background-color: yellowgreen;
}

button {
  text-align: center;
}

#course-image {
  width: 600px;
}

.first {
  color: red;
}

#your-name h2 {
  color: olivedrab;
}

#your-name {
  background-color: rgba(255, 166, 0, 0.342);
  border: 10px solid #555;
  width: 400px;
  padding: 25px;
  margin-top: 30px;
}
